<!DOCTYPE html>
<html lang="pt-br">
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Ranking Amador Rj</title>
          <link rel="stylesheet" href="/static/CSS/estilo.css">  

      </head>
              {% load bootstrap5 %}
              {% bootstrap_css %}
              {% bootstrap_javascript %}
      <body>
        <script src="learning_log\learning_logs\static\CSS\estilo.css"></script>
                <nav class="navbar navbar-expand-lg bg-light navbar-light mb-3 ">
              
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="container d-flex justify-content-center">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-center mb-3">
                          <a class="navbar-brand" href="{% url 'index'%}">Ranking Amador RJ</a>
                      </div>
                      <div class="col-12 d-flex justify-content-center">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item"><a class="nav-link mx-2" href="{% url 'topics'%}">Ranking</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link mx-2">Olá, {{ user.username }}</a>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link mx-2" href="{% url 'logout' %}">Sair</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                              <a class="nav-link mx-2" href="{% url 'register' %}">Registrar</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link mx-2" href="{% url 'login' %}">Entrar</a>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
                  <div class="h-50 p-4 bg-body-tertiary d-flex justify-content-center ">
                    {% block header %}
                    {% endblock header %}
                  </div>  
              <div class="container">   
              
                {% block content %}
                {% endblock content %}
            
            </div>
      </body>
</html>