<!DOCTYPE html>

{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}


{% block header%}
        <h1>Acompanhe seu aprendizado.</h1>
{% endblock header%}

    {% block content %}
        
    <div class="">   
        <h2><a href="{% url 'register' %}">Crie uma conta</a> para utilizar o learning_log e liste os tópicos que vc está aprendendo. </h2>    
    </div>
        <div class="">   
            <h2>   
                Sempre que você aprender algo novo sobre um tópico, faça uma entrada resumindo o que vc aprendeu.
            </h2>
        </div>

{% endblock content %}