<!DOCTYPE html>

{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}


{% block header%}
        <h1>Acompanhe seu aprendizado...</h1>
{% endblock header%}

    {% block content %}
        
    <div class="container">   
        <h2><a href="{% url 'register' %}">Criar sua conta</a> Para começar a adicionar tópicos de estudo !!</h2>    
    </div>
        <div class="container">   
            <h2>   
                Sempre que você aprender algo novo sobre um tópico, faça uma anotação resumindo o que aprendeu.
            </h2>
        </div>

{% endblock content %}
