
<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block content %}

<p><a href="{% url 'topics' %}"><button class="btn btn-outline-primary btn-sm" name="submit" >Voltar</button></a></p>

    {% block headear %}
    <div class="container mb-3"><h4>Adicione o título:</h4></div>
    {% endblock headear %}


    <form class="form" action="{% url 'new_topic' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class=" btn btn-outline-primary btn-sm" type="submit" name="submit">Salvar</button>
        {% endbuttons %}
    </form>
{% endblock content %}
