<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{%  block header %}
    <h2>Seus tópicos</h2>
{%  endblock header %}

{% block content %}
    
        <div class="container">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-border">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Anotações</th>
                                <th style="width: 90px;">Ação</th>
                            </tr>
                        </thead>
                        
                        {% for topic in topics %}
                            <body>
                            <tr>
                                <td><a href="{% url 'topic' topic.id %}">{{ topic }}</a></td>
                                
                                <td><span class="badge bg-primary rounded-pill">{{ topic.entry_set.count }}</span></td>

                                {% buttons %}
                                <td><a href="{% url 'delete_topic' topic_id=topic.id %}" 
                                ><button 
                                type="submit"
                                class="btn btn-outline-danger btn-sm" 
                                onclick="return confirm('Tem certeza que deseja excluir este tópico?')"
                                >Excluir</button></a></td> 
                                {% endbuttons %} 
                                  
                                {% empty %}
                                <h1>Não há tópicos adicionados</h1>
                                {% endfor %}
                            </tr>
                        </body>
                </table>                      
            </div>
        </div>
            <div>  
                {% buttons %} 
                <a href="{% url 'new_topic' %}"><button class="btn btn-outline-primary btn-sm mx-2" name="submit" >Adicionar novos tópicos</button></a>
                {% endbuttons %}
            </div> 
{% endblock content %}

