<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{%  block header %}
    <h1>Tópicos</h1>
{%  endblock header %}

{% block content %}
    <div class="" >
        <div class="card" >
            <div class="card-body">
                {% for topic in topics %}
                    <div>
                        <div>
                            <a class="card-header" href="{% url 'topic' topic.id %}">{{ topic }}</a>
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ topic.entry_set.count }}</span>

    
                        {% buttons %}
                        <a href="{% url 'delete_topic' topic_id=topic.id %}" 
                        ><button 
                         type="submit"
                         class="btn btn-danger btn-sm" 
                         onclick="return confirm('Tem certeza que deseja excluir este tópico?')"
                         >Excluir Tópico</button></a>  
                         {% endbuttons %} 
                    </div>
                    {% empty %}
                    <div>Não há tópicos adicionados</div>
                    {% endfor %}
            </div>
        </div>
    </div>  
        <div class="card-body">     
            {% buttons %} 
            <a href="{% url 'new_topic' %}"><button class="btn btn-primary btn-sm" name="submit" >Adicionar novos tópicos</button></a>
            {% endbuttons %}
        </div> 
{% endblock content %}

