<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{%  block header %}
    <h1>Tópicos</h1>
{%  endblock header %}

{% block content %}
    <div>
        <div>
            <ul>
                {% for topic in topics %}
                    <li class="">
                        <div>
                            <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ topic.entry_set.count }}</span>

                        <!-- Adicione um link para a página de exclusão do tópico -->
                        <a href="{% url 'delete_topic' topic_id=topic.id %}" 
                        ><button 
                         type="submit"
                         class="" 
                         onclick="return confirm('Tem certeza que deseja excluir este tópico?')">Excluir Tópico</button></a>   
                    </li>
                {% empty %}
                    <li>Não há tópicos adicionados</li>
                {% endfor %}
            </ul>
        </div>
    </div>  
    <div>      
        <a href="{% url 'new_topic' %}"><button class="" name="submit" >Adicionar novos tópicos</button></a>
    </div> 
{% endblock content %}

