<!DOCTYPE html>
{% extends "learning_logs/base.html" %}

{%  block header %}
<h2>{{ topic }}</h2>
{%  endblock header %}

{% block content %}

    
    {% for entry in entries %}
    <div class="panel-primary">
        <div class="panel-primary">     
                <h4>
                    {{ entry.date_added | date:'M d,Y H:i' }}
                    <small>
                        <a href="{% url 'edit_entry' entry.id %}">Editar anotação</a>
                    </small>
                </h4>
                <div class="panel-body">
                {{ entry.text | linebreaks }}
                </div>
        </div> 
    </div>

    {% empty %}

        Não há conteúdo para mostrar

    {% endfor %}

    
    <h4><a href="{% url 'new_entry' topic_id=topic.id %}">Adicione uma nova anotação</a></h4>
    
{% endblock content %}