<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block header %}
    <h2>Register now to gain access.</h2>
{% endblock header %}

{% block content %}

{% if form.erro %}
    <div class="">
        <p>Login e senha inválido tente novamente</p>
    </div>
{% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'register' %}" method="post" class="ul-none">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button class="btn btn-outline-primary" name="submit">Entrar</button>
                    {% endbuttons %}
                    <input type="hidden" name="next" value="{% url 'index' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}